<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans.xsd
      http://www.springframework.org/schema/context
      http://www.springframework.org/schema/context/spring-context.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop.xsd
      http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--开启注解扫描-->
    <context:component-scan base-package="com.pengjunlee.controller"/>

    <!--视图解析器对象-->
    <!--<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--&lt;!&ndash;表示到/WEB-INF/pages目录下去找&ndash;&gt;-->
        <!--<property name="prefix" value="/WEB-INF/pages/"/>-->
        <!--&lt;!&ndash;所找文件后缀名为.jsp&ndash;&gt;-->
        <!--<property name="suffix" value=".jsp"/>-->
    <!--</bean>-->

    <!--非必需！！！！可删除！！！-->
    <!--配置自定义类型转换器-->
    <!--<bean id="ConversionServiceFactoryBean" class="org.springframework.context.support.ConversionServiceFactoryBean">-->
        <!--<property name="converters">-->
            <!--<set>-->
                <!--<bean class="包路径"/>-->
            <!--</set>-->
        <!--</property>-->
    <!--</bean>-->

    <!--开启SpringMVC框架注解的支持-->
    <!--conversion-service="ConversionServiceFactoryBean"开启自定义类型保护器，如不需要删掉即可-->
    <!--<mvc:annotation-driven conversion-service="ConversionServiceFactoryBean"/>-->

    <mvc:annotation-driven/>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <property name="prefix" value="/WEB-INF/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>

    <mvc:default-servlet-handler/>
</beans>